<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置Hibernate方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/dianping</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">118322</property>

        <mapping class="com.dianping.vo.TAssign"/>
        <mapping class="com.dianping.vo.TBuy"/>
        <mapping class="com.dianping.vo.TCatalogue"/>
        <mapping class="com.dianping.vo.TClass"/>
        <mapping class="com.dianping.vo.TCustFinance"/>
        <mapping class="com.dianping.vo.TCustomer"/>
        <mapping class="com.dianping.vo.TDictionary"/>
        <mapping class="com.dianping.vo.TDistributor"/>
        <mapping class="com.dianping.vo.TFinance"/>
        <mapping class="com.dianping.vo.TManuFinance"/>
        <mapping class="com.dianping.vo.TManufacturer"/>
        <mapping class="com.dianping.vo.TMenu"/>
        <mapping class="com.dianping.vo.TRight"/>
        <mapping class="com.dianping.vo.TRole"/>
        <mapping class="com.dianping.vo.TSell"/>
        <mapping class="com.dianping.vo.TStock"/>
        <mapping class="com.dianping.vo.TStockHis"/>
        <mapping class="com.dianping.vo.TUser"/>
        <mapping class="com.dianping.vo.TWholesale"/>
        <mapping class="com.dianping.vo.TWholesaleFinance"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>